{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles Block -->
{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
<main class="container-fluid">
       
    <div class="articles">
        <h3>  Top News Articles</h3>
		<hr />
         <ul class="unstyled">
            <div>
        	   {{ macro.displayArticleList(article)}}
            </div>
        </ul>
    </div>
</main>
{% endblock %} 

        

        
       