{% extends 'base.html'%}

{% import 'macros.html' as macro %}

{% block styles%}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
{% endblock%}

{% block content%}
<div class="panel">
    
    <marquee behavior="scroll" direction="left"><h2>CHAP CHAP NEWS BREEZE</h2></marquee>
</div>
<div class="panel panel-danger">
    <h2 class="my-4 panel-heading">Sports Headlines</h1>

    <ul>
    {{macro.displayNewsList(sports)}}
    </ul>
</div>
<div class="panel panel-danger">
    <h2 class="my-4 panel-heading">Business Headlines</h1>

    <ul>
    {{macro.displayNewsList(business)}}
    </ul>
</div>
<div class="panel panel-danger">
    <h2 class="my-4 panel-heading">entertainment Headlines</h1>

    <ul>
    {{macro.displayNewsList(entertainment)}}
    </ul>
</div>
<div class="panel panel-danger">
    <h2 class="my-4 panel-heading">Health Headlines</h1>

    <ul>
    {{macro.displayNewsList(health)}}

    </ul>
</div>

    <div class="panel panel-danger">
        <h2 class="my-4 panel-heading">technology Headlines</h1>
    
        <ul>
        {{macro.displayNewsList(technology)}}
        </ul>
    </div>
    <div class="panel panel-danger">
        <h2 class="my-4 panel-heading">science Headlines</h1>
    
        <ul>
        {{macro.displayNewsList(science)}}
        </ul>
    </div>
    <div class="panel panel-danger">
        <h2 class="my-4 panel-heading">General Headlines</h1>
    
        <ul>
        {{macro.displayNewsList(general)}}
        </ul>
    </div>





<div class="container ">
    <div class="row ">
        <div class="col-md-6">
            <ul class="list-group list-group-horizontal-xl icons bg-dark ">
                <li class="icon-item"><a href="http://instagram.com" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://facebook.com" target="_blank" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://twitter.com" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://github.com" target="_blank" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://linkedin.com" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <footer class="page-footer font-small special-color-dark">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <p>Developed by: Maureen Mwangi.</p>
                </div>
                <!-- Copyright -->
            
            </footer>
        </div>
    </div>
</div>
{% endblock %}


    